<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit book</h1>
	<div>
		<form th:object="${editbook}" th:action="@{/save}" action="#" method="post">
			
			<input type="hidden" id="id" th:field="*{id}" />
			
			<label for="title">Title</label>
			<input type="text" id="title" th:field="*{title}" />
			
			<label for="author">Author</label>
			<input type="text" id="author" th:field="*{author}" />
			
			<!-- temp  tee tähän se samanlainen ku on filmissä -->
			<label for="categorylist">Category ID (1-5)</label>
			<input type="text" id="categorylist" th:field="*{category.id}" />
			
			<label for="isbn">ISBN</label>
			<input type="text" id="isbn" th:field="*{isbn}" />
			
			<label for="pubYear">Publishing year</label>
			<input type="text" id="pubYear" th:field="*{pubYear}" />
			
			<label for="price">Price</label>
			<input type="text" id="price" th:field="*{price}" />
			
			<input type="submit" value="save"></input>
		</form>
	</div>
	
</body>
</html>